
.container {
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {

    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: 210px;
    object-fit: cover;
}

.card .info_card {

    padding: 15px;
    text-align: center;
}

.card .info_card p {
    line-height: 1.5;
    color: #6a6a6a;

}

.card .info_card h3 {
    font-family: 'Alkatra', cursive;
    font-weight: 400;
    color: #F6B60C;
    margin-bottom: 15px;

}

.card .info_card button {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #E88456;
    border: 1px solid #E88456;
    border-radius: 4px;
    transition: all 400ms ease;

}

.card .info_card button:hover {
    background: #E88456;
    color: #fff;
}

.iconCard{
    display: flex;
    justify-content: space-around;
    padding: 10px;

}
.icon{
   color: #6a6a6a;
}
.icon:hover {
    color: #E88456;   
    padding: 3px;
    border: 1px solid #E88456;
    border-radius: 20px;
}

/*Configuracion pantalla tablet*/
@media (max-width: 850px) {
    .container {
        flex-wrap: wrap;
        *justify-content: start;
    }

}