/*Configuracion pantalla pc*/ 
/*----------------------------*/



.barras {
display: none;
}

.desplegable {
  background: #1e1e1e;
  position: absolute;
  z-index: 1;
  width: 100%;
  *height: 46px;
  *opacity: -1.6;
}



ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.1rem;
  padding: 10px;
  display: block;
}

ul li a:hover {
  background: #E88456;
  color: #fff;
}

/*Configuracion pantalla tablet*/
@media (max-width: 850px) {
  .barras {
    background-color: #1e1e1e;
    display: block;
  }

  .desplegable {
    z-index: 1;
    transform: translate(-100%);
    transition: 0.5s;
    font-size: 1.5rem;
    width: 50%;
    background: rgba(30, 30, 30, 0.5);
  }

  ul {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

  }

  .boton_menu {
    margin: 20px;
    border: none;
  }
li a{
  padding: 20px 0px 20px 20px;
  display: block;
  text-align: left;
}
  .boton_menu {
    background-image: url('../menu-burger.png');
    background-color: #1e1e1e;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: 30px 30px;
    background-position: center;
  }

  /*abrir y cerrar menu*/
  .abrir_menu {
    transform: translate(0%);
    transition: 0.5s;
    width: 50%;
    background: rgba(30, 30, 30, 0.8);
    backdrop-filter: blur(1.5px);

  }
  /*clase para cambiar menu a estilo X*/
 .colocar_x {
    background-image: url('../cruz.png');
    background-color: #1e1e1e;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: 30px 30px;
    background-position: center;
  }
}
@media(max-width:500px){
  .desplegable{
    z-index: 1; 
    width: 100%;
    height: 100vh;
    font-size: 1.6rem;
}
}
/*
  .brand{
    color: #fff;
    font-size: 1.5em;
    font-weight:700;
    text-transform: uppercase;
    text-decoration: none;
  }
  header {
    color: #fff;
    font-size: 1.5em;
    font-weight:700;
    text-transform: uppercase;
    text-decoration: none;
  }
  header .navigation{
   position: relative; 
  }
  header .navigation .navigation-items a{
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500; 
  text-decoration: none;
  margin-left: 30px;
  padding-bottom: 4px;
  transition: 0.3s ease;
  }
  header .navigation .navigation-items a:before{
  content: '';
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0; 
  transition: 0.3s ease;
  }
  header .navigation .navigation-items a:hover:before{
  width: 100%;
  }
  */