.carousel {

    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    height: 100vh;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}

.container_carousel {
    background: rgba(30, 30, 30, 0.5);
    /*opacidad*/
    backdrop-filter: blur(1.5px);
    padding: 30px;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 20px 20px 20px 20px;
    max-width: auto ;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 50px;

}

.titleCarousel {
    font-family: 'Alkatra', cursive;
    color: #fff;
    font-size: 6vw;

 
}

.titleCarousel1 {
    font-weight: 900;
    font-size: 8vw;
    color: #E88456;
    margin-top:-3vw;
}
.description{
    font-weight: 400;
}


.carousel .carousel-control-prev-icon {
    visibility: hidden;
}

.carousel:hover .carousel-control-prev-icon {
    visibility: visible;
}

.carousel .carousel-control-next-icon {
    visibility: hidden;
}

.carousel:hover .carousel-control-next-icon {
    visibility: visible;
}

/*Configuracion pantalla tablet*/
@media (max-width: 850px) {

    .carousel {

        z-index: 000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

}

@media (max-width:500px) {

    .carousel {

        z-index: 000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }


}

@media (max-width:300px) {



}